.period-tracker {
  background-color: rgb(214, 145, 180);
}
.tracker-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box {
  margin: 20px;
}
.tracking-section {
  padding-bottom: 8px;
}
.track-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 45px;
  width: 300px;
  cursor: pointer;
  background-color: cornflowerblue;
  border: 2px solid black;
  border-radius: 20px;
  margin: 8px 600px;
}
