.Daycontainer {
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
}
.plus {
    flex: 1;
    cursor: pointer;
}
.number {
    flex: 1;
    font-size: 50px;
}
.minus {
    flex: 1;
    cursor: pointer;
}

.minus:hover {
    color: lightseagreen;
}
.plus:hover {
    color: lightseagreen;
}